---
import BasePageLayout from "./BasePageLayout.astro";

const { title, author, pubDate, description, image, tags } =
  Astro.props.frontmatter;
---

<BasePageLayout pageTitle={title}>
  <p><b>{description}</b></p>
  <img src={image.url} width="300" alt={image.alt} />
  <br />
  <em>Written by {author} on {pubDate.toLocaleDateString()}</em>

  <style>
    a {
      color: #00539f;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
    }

    .tag {
      margin: 0.25em;
      border: dotted 1px #a1a1a1;
      border-radius: 0.5em;
      padding: 0.5em 1em;
      font-size: 1.15em;
      background-color: #f8fcfd;
    }
  </style>
  <div class="tags">
    {
      tags.map((tag: any) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>

  <slot />
</BasePageLayout>
